<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды по маршруту</title>
</head>
<body>
    <h1>Введите начальный и конечный пункт</h1>
    <form method="POST" action="/">
        <label>Начальный город:
            <input type="text" name="start_point" required>
        </label><br><br>
        <label>Конечный город:
            <input type="text" name="end_point" required>
        </label><br><br>
        <input type="submit" value="Проверить погоду">
    </form>
</body>
</html>
